@model TaskManagementApp.Models.TaskItem

<h2>Create Task</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label>Title</label>
        <input asp-for="Title" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control" required></textarea>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Due Date</label>
            <input asp-for="DueDate" type="date" class="form-control" required />
        </div>

        <div class="col-md-6 mb-3">
            <label>Status</label>
            <select asp-for="Status" class="form-select">
                <option>Pending</option>
                <option>InProgress</option>
                <option>Completed</option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label>Remarks</label>
        <textarea asp-for="Remarks" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label>Created By</label>
        <input asp-for="CreatedByName" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>

